<!DOCTYPE html>
<html>
  <head>
    <title>Librum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'fontawesome/fontawesome.min', media: 'all' %>
    <%= stylesheet_link_tag 'fontawesome/solid.min', media: 'all' %>

    <%= csp_meta_tag %>
  </head>

  <body>
    <%=
      render(
        View::Layouts::Page.new(
          alerts:       flash.each.to_h,
          current_user: @session&.current_user,
          **@result.metadata.fetch(:page, {})
        )
      ) do
    %>
      <%= yield %>
    <% end %>
  </body>
</html>
